{% for trick in tricks %}
    <div class="col custom">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                {% if trick.medias is not null %}
                    {% for media in trick.medias %}
                        {% if media.featured %}
                            style="background: url('{{ asset('uploads/medias/' ~ media.name) }}') no-repeat center; background-size: cover"
                        {% endif %}
                    {% endfor %}
                {% endif%}
        >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                        <a href="{{ path('trick_show', {id: trick.id}) }}" class="h4 text-white">{{ trick.name }}</a>
                    </li>
                    <li class="d-flex align-items-center me-3">
                        <a href="{{ path('trick_edit', {id: trick.id}) }}" class="h4 text-white"><i
                                    class="fas fa-pencil-alt"></i></a>
                    </li>
                    <li class="d-flex align-items-center" id="delete"  {{ stimulus_controller('modal-form') }}>
                        <!-- Button trigger modal -->
                        <a href="#delete{{ trick.id }}" class="h4 text-white" data-action="modal-form#openModal"><i
                                    class="fas fa-trash-alt"></i></a>
                        {% include('tricks/_delete.html.twig') %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
