{% extends 'base.html.twig' %}
{# custom variable #}
{% set queryParams = app.request.query.all %}

{% block title %} SnowTricks{% endblock %}
{% block main %}
    <main class="container-fluid p-0">
        <!-- ======= Hero Section ======= -->
        <div class="hero d-flex align-items-end row m-0">
            <div class="col-10 bg-info text-white container-fluid d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
                <h1 class="display-3">SnowTricks</h1>
                <h2>The new reference for snowboarding tricks !</h2>
            </div>
            <div class="col offset-10 offset-md-11">
                <a href="{{ path('app_home') }}#services" class="text-white"><i class="fas fa-arrow-circle-down fa-3x"></i></a>
            </div>

        </div><!-- End Hero -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container px-4 py-5" id="custom-cards">
                <div class="row justify-content-between">
                    <h2 class="pb-2 display-4 col-9 col-md-8">Tricks</h2>
                    <a href="{{ path('trick_add') }}" class="col-2 btn btn-outline-dark d-none d-md-flex h-25 justify-content-center pb-1">Add trick</a>
                    <a href="{{ path('trick_add') }}" class="col-2 btn btn-outline-dark d-flex d-md-none justify-content-center"><i class="fas fa-plus-circle fa-3x"></i></a>
                    <p>Check our list of tricks and add your own !</p>
                </div>
                <div class="filters text-center" {{ stimulus_controller('filters') }}>
                    <form id="filters">
                        {% for group in groups %}
                            {% if queryParams is not empty and queryParams.groups is defined %}
                                {% set checked = (group.id in queryParams.groups) ? "checked" : "" %}
                            {% else %}
                                {% set checked = "" %}
                            {% endif %}

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="btn-check" id="gp{{ group.id }}" {{ checked }} autocomplete="off" value="{{ group.id }}" name="groups[]" data-action="filters#filter">
                                <label class="btn btn-outline-dark" for="gp{{ group.id }}">{{ group.name | capitalize }}</label><br>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="page" value="{{ page }}">
                    </form>
                </div>
                <div id="content">
                    {% include "home/_content.html.twig" %}
                </div>
            </div>
            <div class="position-relative">
                <a href="#services" class="position-fixed bottom-0 end-0 text-dark" data-action="modal-form#openModal"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
            </div>
        </section><!-- End Services Section -->
    </main>
{% endblock %}