{% extends 'base.html.twig' %}
{% block title %} SnowTricks{% endblock %}
{% block main %}
    <main class="container-fluid p-0">
        <!-- ======= Hero Section ======= -->
        <div class="hero d-flex align-items-end row m-0">
            <div class="col-10 bg-info text-white container-fluid d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
                <h1 class="display-3">SnowTricks</h1>
                <h2>The new reference for snowboarding tricks !</h2>
            </div>
            <div class="col offset-10 offset-md-11">
                <a href="{{ path('app_home') }}#services" class="text-white"><i class="fas fa-arrow-circle-down fa-3x"></i></a>
            </div>

        </div><!-- End Hero -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container px-4 py-5" id="custom-cards">
                <div class="row justify-content-between">
                    <h2 class="pb-2 display-4 col-9 col-md-8">Tricks</h2>
                    <a href="{{ path('trick_add') }}" class="col-2 btn btn-outline-dark d-none d-md-flex h-25 justify-content-center pb-1">Add trick</a>
                    <a href="{{ path('trick_add') }}" class="col-2 btn btn-outline-dark d-flex d-md-none justify-content-center"><i class="fas fa-plus-circle fa-3x"></i></a>
                    <p>Check our list of tricks and add your own !</p>
                </div>


                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 align-items-stretch g-4 py-5">
                {% for trick in tricks  %}
                    <div class="col custom">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url({{ asset('build/images/background.jpg') }}) no-repeat center; background-size: cover">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <a href="{{ path('trick_show', {id: trick.id}) }}" class="h4 text-white">{{ trick.name }}</a>
                                    </li>
                                    <li class="d-flex align-items-center me-3">
                                        <a href="{{ path('trick_edit', {id: trick.id}) }}" class="h4 text-white"><i
                                                    class="fas fa-pencil-alt"></i></a>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        {# TODO: modal for delete #}
                                        <a href="{{ path('trick_delete', {id: trick.id}) }}" class="h4 text-white"><i
                                                    class="fas fa-trash-alt"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    {# TODO: add back to top button #}
                </div>
            </div>
        </section><!-- End Services Section -->
    </main>
{% endblock %}