{% extends 'base.html.twig' %}
{% block main %}
    <main class="container-fluid  p-0" style='background: url({{ asset('build/images/background.jpg') }}) no-repeat center; background-size: cover'>
        <section class="row col-10 gy-3 bg-white mx-auto ">
            <div>
                medias

            </div>
        </section>
        <section class="row col-10 gy-3 bg-white mx-auto px-4">
            {#TODO: add form errors#}
            <h1 class="h3 mb-3 font-weight-normal">Add</h1>
            {{ form_start(createForm, { 'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group form-floating mb-3">
                {% if form_errors(createForm.name) %}
                    {{ form_widget(createForm.name, {'attr': {'class': 'form-control underlined is-invalid', 'placeholder': 'Enter the tricks Name'}}) }}
                {% else %}
                    {{ form_widget(createForm.name, {'attr': {'class': 'form-control underlined', 'placeholder': 'Enter the tricks Name'}}) }}
                {% endif %}
                {{ form_label(createForm.name, 'Name') }}
                <div class="invalid-feedback">
                    {{ form_errors(createForm.name) }}
                </div>
            </div>
            <div class="form-group form-floating mb-3">
                {% if form_errors(createForm.description) %}
                    {{ form_widget(createForm.description, {'attr': {'class': 'form-control underlined is-invalid', 'placeholder': 'Enter the description', 'rows': '5'}}) }}
                {% else %}
                    {{ form_widget(createForm.description, {'attr': {'class': 'form-control underlined', 'placeholder': 'Enter the  description', 'style': 'height: 25em'}}) }}
                {% endif %}
                {{ form_label(createForm.description, 'Description') }}
                <div class="invalid-feedback">
                    {{ form_errors(createForm.description) }}
                </div>
            </div>
            <div class="form-group form-floating mb-3">
                {% if form_errors(createForm.group) %}
                    {{ form_widget(createForm.group, {'attr': {'class': 'form-select underlined is-invalid text-capitalize', 'placeholder': 'Enter the group'}}) }}
                {% else %}
                    {{ form_widget(createForm.group, {'attr': {'class': 'form-select underlined text-capitalize', 'placeholder': 'Enter the group'}}) }}
                {% endif %}
                {{ form_label(createForm.group, 'Group') }}
                <div class="invalid-feedback">
                    {{ form_errors(createForm.group) }}
                </div>
            </div>
            <div class="form-group mb-3 text-end gap-2">
                <button type="reset" class="btn btn-outline-danger col-4">Delete</button>
                <button type="submit" class="btn btn-info col-4">Save</button>
            </div>
            {{ form_end(createForm) }}
        </section>
    </main>
{% endblock %}