{% extends 'base.html.twig' %}
{% block main %}
    <main class="container-fluid p-0 show">
        <section class="col-10 bg-white mx-auto">
            {% if featured is not null %}
            <div style="background: url('{{ asset('uploads/medias/' ~ featured.name) }}') no-repeat center; background-size: cover">
            {% else %}
            <div>
            {% endif%}
                <div class="row">
                    <div  class="col mx-auto featured d-flex">
                        <h2 class="h2 align-self-center mx-auto bg-info text-white w-25 text-center">{{ trick.name }}</h2>
                        <div class="float-start d-flex justify-content-between align-items-baseline mx-3">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="d-flex align-items-center col-1 gx-5">
                                    <a href="{{ path('trick_edit', {id: trick.id}) }}" class="h4 text-dark"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                                <div class="d-flex align-items-center col-1 gx-3" {{ stimulus_controller('modal-form') }}>
                                    <!-- Button trigger modal -->
                                    <a href="#" class="h4 text-dark" data-action="modal-form#openModal"><i class="fas fa-trash-alt"></i></a>
                                    {% include('tricks/_delete.html.twig') %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-items-center justify-content-center mx-2 my-4 d-none d-md-flex flex-row nowrap">
                {% for media in trick.medias %}
                    {% if media.featured == false %}
                        {% if media.extension == 'mp4' %}
                            <video controls width="250" class="col-md-auto media me-md-2 align-self-baseline">
                                <source src="{{ asset('uploads/medias/' ~ media.name) }}" type="video/mp4">
                            </video>
                        {% else %}
                            <img src="{{ asset('uploads/medias/' ~ media.name) }}" alt="pictureOllie" width="250" class="col-md-auto media me-md-2">
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div {{ stimulus_controller('modal-form') }} class="col-auto g-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-info" data-action="modal-form#openModal">Add media</button>
                        {% include('media/_addMedia.html.twig') %}

                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-8 mx-auto">
                    {{ trick.description | raw }}
                </div>
                <div class="col-8 mx-auto text-center">
                    <span class="badge bg-secondary">
                        {{ trick.group.name | upper }}
                    </span>
                    <span class="badge bg-secondary">
                        {{ trick.createdAt | date }}
                    </span>
                    {% if trick.createdAt != trick.updatedAt and  trick.updatedAt is not null %}
                        <span class="badge bg-secondary">
                            {{ trick.updatedAt | date }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="row justify-content-center border-bottom border-top w-75 mx-auto my-4">
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    {{ form_start(messageForm, { 'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="form-group form-floating mb-3">
                            {% if form_errors(messageForm.content) %}
                                {{ form_widget(messageForm.content, {'attr': {'class': 'form-control underlined is-invalid', 'placeholder': 'Enter your Last Name', 'style': 'height: 15em'}}) }}
                            {% else %}
                                {{ form_widget(messageForm.content, {'attr': {'class': 'form-control underlined', 'placeholder': 'Enter your Last Name', 'style': 'height: 15em'}}) }}
                            {% endif %}
                            {{ form_label(messageForm.content, 'Comment') }}
                            <div class="invalid-feedback">
                                {{ form_errors(messageForm.content) }}
                            </div>
                        </div>
                        <div class="form-group mb-3 d-grid gap-2">
                            <button type="submit" class="btn btn-info">Leave a Comment</button>
                        </div>
                    {{ form_end(messageForm) }}
                </div>
            {% endif %}
            <div class="row px-5 my-4">
                {% if messages|length > 0 %}
                    <p>There are {{ messages|length }} messages.</p>
                    <ul>
                        {% for message in messages %}
                            <li class="row mb-3 border border-1 w-50 justify-content-center align-items-center m-auto">
                                <div class="col-sm-2">
                                    <img src="{{ asset('uploads/profile/' ~ message.user.picture) }}" alt="profile-picture-{{ message.user.username }}" class="img-fluid rounded-circle profile">
                                </div>
                                <div class="col-sm-10">
                                    {% if app.user and app.user == message.user %}
                                        <a class="float-end text-danger" href="{{ path('message_delete', {'id':message.id}) }}"><i class="fas fa-trash-alt"></i></a>
                                    {% endif %}
                                    <h4 class="h4 m-0">{{ message.user.username }}</h4>
                                    <p>
                                        <small>published on {{ message.createdAt | date }}</small>
                                    </p>
                                    {{ message.content | raw }}
                                </div>
                            </li>
                        {% endfor %}
                        {% if previous >= 0 %}
                            <a href="{{ path('trick_show', { id: trick.id, offset: previous }) }}">Previous</a>
                        {% endif %}
                        {% if next < messages|length %}
                            <a href="{{ path('trick_show', { id: trick.id, offset: next }) }}">Next</a>
                        {% endif %}
                    </ul>
                {% else %}
                    <div>No comments have been posted yet for this conference.</div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}